@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Inter', sans-serif;
}
body{  
    width: 100%;
    margin-top: 30px;
}
#grid-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    border-radius: 10px;
    /*box-shadow: 0 0 10px rgba(177, 176, 176, 0.2);*/
    padding: 20px 0px 50px 0px; 
}
header{
    padding-bottom: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.74);
}
header > p{
    color: rgba(0, 0, 0, 0.486);
    font-size: 15px;
}

#cadastro-tarefas{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}

.titulo{
    padding-bottom: 2px;
    color: rgb(37, 37, 37);
    font-size: 16px;
}
input{
    border-color: rgba(96, 97, 97, 0.192);
    border-radius: 5px;
    width: 100%;
    padding: 5px 5px 10px 5px;    
}
#inputDescricao {
    padding-bottom: 50px;  
}

.input-date-btn{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#inputData{
    color: rgb(143, 145, 145);
    font-size: 14px;
    max-width: 50%;
    justify-content: space-between;
}
#btnCadastrar{
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 8px ;
    background-color: #ffae00;
    font-size: 14px;
}

/**********GRID TAREFA*************/
#grid-lista-tarefas{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    margin-top: 20px;
}
.tarefa{
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(112, 112, 112, 0.322);
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    gap: 30px;
}

.div-tarefa-descri{
    min-width: 50%;
    display: flex;
    flex-direction: column;
}

.tarefa-titulo{
    font-size: 19px;
    padding-bottom: 8px;
}
.tarefa-descricao, .tarefa-data{
    font-size: 13px;
    color: rgb(133, 134, 136);
}
.div-tarefa{
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 100%;
}
.btnExcluir, .btnEditar {
    display: flex;
    flex-direction: row;
    border: none;
    background-color:rgb(255, 255, 255);
    padding-right: 2px;
}
.btnImg{
    max-width: 15px;
    max-height: 15px;
}

/***************GRID FILTRO********************/
#grid-filtro{ 
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(177, 176, 176, 0.2);
    padding-bottom: 15px;
}
.div-filtro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0px 20px 0px 20px;
    margin: 0 auto;
    min-width: 500px;
}
.div-filtro > div {
    flex: 1;
}
#status{
    min-width: 500px;
    border-color: rgba(96, 97, 97, 0.192);
    border-radius: 5px;
    width: 100%;
    padding: 5px 5px 10px 5px;
}
#lblFiltro{
    font-size: 12px;
    max-width: 30px;
}
#btnFiltrar{
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    margin-top: 18.89px;
}
#btnFiltrar > img{
    max-width: 30px;
}

@media (max-width: 768px) {
    #grid-principal{
        max-width: 700px;
    }
    .div-filtro{
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
    #inpDataInicio, #inpDataFim, #status{
        display: block;
        min-width: 100px;
        max-width: 100%;
    }
  
}